body {
  background-color: black;
  color: white;
}

#actualize-teal {
  background-color: orange;
  // background-color: #0AD1DA;
  border-color: black;
  // color: white;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  color: DarkBlue;
  width: 100%;
}

table th, table td {
  border: solid red 1px;
  padding: 4px 10px;
}
